.heading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace 
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.bookmarkButton{
    display: flex;
    text-align: center;
    justify-content: center;
}

